  <div class="container">
    <div class="row">
     <div class="col-lg-offset-6 col-lg-6">
       <p><span>Start new game:</span> <select name="difficulty" value={{selectedLevel}} onchange={{action (mut selectedLevel) value="target.value"}}>
         {{#each levels as |level|}}
         <option value={{level}} selected={{eq level selectedLevel}}>{{level}}</option>
         {{/each}}
       </select>
       <button class="btn btn-xs btn-default" {{action startNewGame selectedLevel}}>Start</button></p>
     </div>
   </div>
 </div>
